/*
Resources:
chrome://browser/skin/browser.css
chrome://browser/content/browser.css
*/

:root {
	--background: #161B1B;
	--status_light: #252d2d;
	--status_lighter: #2a3434;
	--background_lighter: #1F2626;
	--background_light: #1B2121;
}

/* TABS */
#tabbrowser-tabs, .tabbrowser-tab {
	background-color: var(--background) !important;
	background-image: none !important;
}

.tab-background { /* tab background */
  background-color: var(--background_light) !important;
  background-image: none !important;
}
.tab-background[selected=true] { /* Selected tab background */
  background-color: var(--background_lighter) !important;
  background-image: none !important;
}

.tab-line { /* tab line */
  background-color: var(--status_light) !important;
}

.tab-line[selected=true] { /* selected tab line */
  background-color: var(--status_lighter) !important;
}


/* navbar, toolbar, and urlbar */
#nav-bar, #PersonalToolbar { /* The thing below the tabs (nav-bar), and where the bookmarks are (PersonalToolbar) */
	background-color: var(--background_lighter) !important;
}


#urlbar-background { /* Where you type in the url */
	background-color: var(--background) !important;
}

